html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #b9c5d0;
}

td, th {
  border: 1px solid #252525;
  text-align: center;
}

tr { 
  background-color: #3c3d3b;
}

.scrollable {
  font-family: arial, sans-serif;
  overflow: scroll;
}

.log {
  width: 100%;
  height: 5em;
  border-radius: 15px;
  background-color: #3c3d3b;
  color: #b9c5d0;
}